button {
  border-radius: 5px;
  background: whitesmoke;
  height: 45px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
  color: black;
}