@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h2>Add a new flavor</h2>

<p>@Html.ValidationMessageFor(model => model.Name)</p>

@using (Html.BeginForm())
{
  @Html.Label("Name")
  <br />
  @Html.TextBoxFor(model => model.Name)
  <br />
  <br />
  <input type="submit" value="Add a new Flavor" class="btn btn-default">
}
