@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h2>Edit</h2>

<h4>Edit this flavor's info: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Name")
  <br />
  @Html.EditorFor(model => model.Name)
  <br />
  <br />
  <input type="submit" value="Save" />
}
